#cardContainer {
  display: flex;
  border: 3px solid purple;
  width: 300px;
  margin: 10px;
  border-radius: 4px;
  justify-content: space-around;
}
#cardContainer:hover {
  background: rgb(230, 221, 221);
}
#name {
  color: purple;
}
